.myInput {
    background-color: rgb(225, 220, 220);
    border-color: rgb(207, 201, 201);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    padding: 6px;
}

.buttonSubmit {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
}

.navbarnbs {
    background-color: #1a1d23;
}

.navbar-text {
    color: white
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(40%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(40%);
}

.backdrop-oscuro {
  opacity: 0.5 !important;
  background-color: black !important;
  z-index: 1070 !important;
}

.custom-modal-confirmacion {
  z-index: 1080 !important;
}
