.myInput {
    background-color: rgb(225, 220, 220);
    border-color: rgb(207, 201, 201);
    color:rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    padding: 6px;
}

.buttonSubmit {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px;
}

.navbarnbs {
    background-color: #1a1d23;
}

.navbar-text {
    color: white
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(40%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(40%);
}

input.form-control:disabled,
textarea.form-control:disabled,
.react-select--is-disabled .react-select__control {
  background-color: #b3b3b3;
  color: #3f3f3f;
  border: 1px solid rgb(168, 168, 168);
}

.backdrop-oscuro {
  opacity: 0.5 !important;
  background-color: black !important;
  z-index: 1070 !important;
}

.custom-modal-confirmacion {
  z-index: 1080 !important;
}

.modal-backdrop-top {
    z-index: 1059 !important;
}

.drag-selection {
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(123, 63, 242, 0.25);
    border: 2px solid rgba(123, 63, 242, 0.6);
    border-radius: 4px;
    pointer-events: none; /* ✅ no interfiere con otros clicks */
    z-index: 1;
}